table{
    border: 2px solid black;
    padding: 5px;
    border-collapse: collapse;
}

table thead th{
    font-style: italic;
    font-size: 200%;
    text-align: center;
    vertical-align: middle;
    border: 3px solid black;
    padding: 5px;
}

table tbody th{
    border: 3px solid black;
}

table td{
    border: 1px solid red;
    padding: 2px;
    
}
table tbody tr td:nth-child(1){
    text-align: center;
}